<!-- chat.component.html -->
<div class="chat-container">
  <div class="messages">
    <div *ngFor="let msg of messages()" [ngClass]="msg.role">
      <p>{{ msg.content }}</p>
    </div>
  </div>

  <div class="input-area">

<mat-form-field appearance="outline">
  <mat-label>Select Role</mat-label>
  <mat-select [(value)]="selectedRole">
    <mat-option *ngFor="let role of roles" [value]="role">
      {{ role }}
    </mat-option>
  </mat-select>
</mat-form-field>

     <mat-form-field appearance="outline" class="input-textarea">
    <mat-label>Ask Me...</mat-label>
    <input matInput [(ngModel)]="userInput"/>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
 
  </div>

  <div class="kb-update">
<mat-form-field appearance="outline">
  <mat-label>Select Roles</mat-label>
  <mat-select [(value)]="selectedRoleKB" multiple>
    <mat-option *ngFor="let role of roles" [value]="role">
      {{ role }}
    </mat-option>
  </mat-select>
</mat-form-field>

  <mat-form-field appearance="outline" class="kb-textarea">
    <mat-label>Update KB article</mat-label>
    <textarea matInput [(ngModel)]="KbUpdate"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="updateKB()">Update KB</button>
  </div>
</div>
